<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokédex</title>
</head>
<body>
    <div class="container">
        <header class="header-container">
            <div>
                <h1 class="header-title">
                    Pokédex
                </h1>
            </div>
            <div class="header-link">            
                    <a class="link-header" href="/">Liste</a>   
                    <a class="link-header link-header--marginright" href="/type">Types</a>
            </div>
        </header>